.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  background-color: rgb(114, 114, 114);
}

.option {
  height: 5vh;
  width: 30vw;
}

label {
  font-size: 1.5vw;
  font-weight: 900;
  align-self: flex-end;
  color: aliceblue;
  display: flex;
}

input {
  font-size: 1.5vw;
  margin-left: 5%;
  width: 20vw;
  height: 2.5vh;
}
