.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 45vw;
  background-color: rgb(114, 114, 114);
  border: 5px solid yellow;
}

.option {
  height: 5vh;
  width: 36vw;
}

label {
  font-size: 1.5vw;
  font-weight: 900;
  align-self: flex-end;
  color: aliceblue;
  display: flex;
  padding: 2vh;
}

input {
  font-size: 1.5vw;
  margin-left: 5%;
  width: 25vw;
  height: 2.5vh;
  /* padding: 2vh; */
}
