.banner {
  width: 100vw;
  height: 81vh;
  margin: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 10vw;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0.5rem 0.5rem 0.2rem #000000;
  -webkit-text-stroke: rgb(0, 0, 0) 3px;
}
