.banner {
  width: 100vw;
  height: 81vh;
  margin: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 13vw;
  text-align: center;
  color: rgb(255, 240, 180);
  -webkit-text-stroke: black 3px;
}
