.comicCollection {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
  gap: 20px
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}