.cardDetails {
  margin-top: 4vh;
  color: aliceblue;
  display: flex;
  align-items: center;
}
.cardInfo {
  width: 80vh;
  height: 80vh;
}
.comicImage {
  width: 50vh;
  margin-left: 10vh;
  margin-right: 8vh;
  margin-top: 0vh;
}
.comicDetails {
  position: relative;

}
.verifiedImage {
  height: 10vh;
  width: 10vh;
}
h2 {
  font-size: 6vh;
}
p {
  color: aliceblue;
  font-size: 3vh;
}
.cardTitle {
  display: flex;
  align-items: center;
}
button {
  margin: 2vh;
  color: #aaa;
  margin: 2vh;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
.edit {
  float: right;
}

button:hover,
button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
