.cardDetails {
  margin-top: 4vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.663);
  padding: 1%;
}
.cardInfo {
  width: 80vh;
  height: 80vh;
}
.comicImage {
  width: 30vw;
  margin-left: 7vh;
  margin-right: 6vh;
  margin-top: 0vh;
  border: solid rgb(255, 210, 47) 5px;
}
.comicDetails {
  position: relative;
}
.verifiedImage {
  justify-self: end;
  height: 8vh;
  width: auto;
  position: absolute;
  margin-bottom: 9%;
}
h2 {
  font-size: 6vh;
}
p {
  color: aliceblue;
  font-size: 3vh;
}
.cardTitle {
  display: flex;
  align-items: center;
}
button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: "Bangers", cursive;
  margin: 1%;
  font-size: 3vw;
  color: rgb(255, 210, 47);
  text-decoration: none;
}
.edit {
  float: right;
}
.back {
  text-decoration: none;
  float: left;
}
button:hover,
button:focus {
  color: rgb(255, 97, 35);
  text-decoration: none;
  cursor: pointer;
}
