.cardDetails {
  margin-top: 4vh;
  color: aliceblue;
  display: flex;
  align-items: center;
}
.cardInfo {
  width: 80vh;
  height: 80vh;
}
.comicImage {
  width: 30vw;
  margin-left: 10vh;
  margin-right: 8vh;
  margin-top: 0vh;
}
.comicDetails {
  position: relative;

}
.verifiedImage {
  height: 10vh;
  width: 6vw;
}
h2 {
  font-size: 6vh;
}
p {
  color: aliceblue;
  font-size: 3vh;
}
.cardTitle {
  display: flex;
  align-items: center;
}
button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: "Bangers", cursive;
  margin: 1%;
  font-size: 3vw;
  color: yellow;
  text-decoration: none;
}
.edit {
  float: right;
}
.back {
  text-decoration: none;
  float: left;
}
button:hover,
button:focus {
  color: rgb(141, 88, 235);
  text-decoration: none;
  cursor: pointer;
}
